{% extends "base.html" %}

{% block title %}Events for date{% endblock title %}

{% block content %}

{% include "nav.html" %}

<div id="breadcrumbs"><a href="{%url resources.views.index %}">Home</a> &raquo; <a href="{%url basic_calendar.views.index %}">Calendar</a> &raquo; Events for date</div>

{% endblock content %}
