{% extends "base.html" %}

{% block title %}This week's events{% endblock title %}

{% block content %}

{% include "nav.html" %}

<div id="breadcrumbs"><a href="{%url resources.views.index %}">Home</a>  &raquo; Calendar</div>

<div class="infobox" id="events">
    <h2>Events</h2>
    <h3>for {{start_date}} to {{end_date}}</h3>
    {% if events %}
    <table>
        <tr><th>Date</th><th>Start</th><th>End</th><th>Room</th><th>Purpose</th></tr>
        {% for e in events%}
        <tr><td>{{e.event_date}}</td><td>{{e.start_time|time:"H:i"}}</td><td>{{e.end_time|time:"H:i"}}</td><td>{{e.room.get_long_name}}</td><td>{{e.purpose}}</td></tr>
        {% endfor %}
    </table>
    {% else %}
    Sorry, You don't have anything scheduled. Check out the <a href="{% url resources.views.experiment_options %}">experiments</a> page to schedule something.
    {% endif %}
</div>

{% endblock content %}
