body {
    background: #333;
}

h1 {
    color: #660000;
}

.center {
    text-align: center;
}

img {
    border: 0px;
}

span.infotype {
    font-weight: bold;
}

div.infobox {
    background: #eee;
    border: 0.5em solid #777;
    margin: .75em;
    padding: 1em;
    width: 65%;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    position: relative;
    left: 120px;
    top: -120px;
}

div.infobox h2 {
    background: #666;
    color: #990000;
    width: 33%;
    padding-left: 2em;
    -moz-border-radius-topleft: 12px;
    -webkit-border-top-left-radius: 12px;
    border-top-left-radius: 12px;
    -moz-border-radius-topright: 12px;
    -webkit-border-top-right-radius: 12px;
    border-top-right-radius: 12px;
}


div.infobox a:link {
    color: blue;
    text-decoration: none;
}
div.infobox a:visited {
    color: blue;
    text-decoration: none;
}

div#nav {
    background: #D3D3D3;
    border: 2px solid #000;
    margin: .75em;
    padding: 1em;
    width: 675px;
    height: 60px;
    position: relative;
    left: 200px;
    top: -160px;
}

span#name {
    color: #FFF;
}

div#nav p {
    background-color: #3A508E;
}

div#nav ul {
    background-color: #3A508E;
    list-style-type: none;
    margin: 0.25em;
    padding: 0.25em;
    border: 0;
    display: table;
}

div#nav li {
    text-align: center;
    display: table-cell;
    padding: 0 1em 0 1em;
}

div#nav a {
    font: menu;
    font-size: small;
    text-decoration: none;
    display: block;
}

div#nav a:link, a:visited { color: #FFF200; }
div#nav a:hover {background-color: #FFF200; color: #3A508E; }
div#nav a:active {background-color: #FFF200; color: #3A508E; }

div#breadcrumbs {
    color: #D3D3D3;
    width: 50%;
    position: relative;
    left: 250px;
    top: -160px;
}

div#breadcrumbs a {
    text-decoration: none;
}

ul.errorlist, p.error {
    color: red;
}

div#masthead {
    padding-left: 1em;
    z-index: 1;
}

div#header {
    background: #cccccc;
    border: 2px solid #000;
    text-align: center;
    padding-right: 1.5em;
    width: 33%;
    position: relative;
    left: 63%;
}

div#footer {
    text-align: center;
    padding: 1em 0 1em 0;
    color: white;
}

div#footer > a:link {
    color:white;
    text-decoration: none;
}

div#footer > a:visited {
    color:white;
    text-decoration: none;
}

div#footer > a:hover {
    color:blue;
    text-decoration: none;
}

div#footer > a:active {
    color:blue;
    text-decoration: none;
}

span#copyright {
    width: 95%;
    background: #C0C0C0;
    text-align: center;
    font-size: small;
    border: 1px solid #FFF200;
}
