@import url('/site_media/css/survey.css');

#emails {
    border: 1ex solid #000;
    width: 75%;
    position: relative;
    left: 10%;
    padding: 1ex;
    margin: 1ex;
}

#emails table {
    width: 50%;
}
