@import url('/site_media/css/profile.css');
@import url('/site_media/css/tabular.css');

div#busytimes {
    border: 1px solid #000;
    margin: 2ex;
    padding: 1ex;
    width: 60%;
    background-color: white;
}
