@import url('/site_media/css/survey.css');

#languages {
    border: 1ex solid #000;
    width: 72%;
    padding: 1ex;
    margin: 1ex;
}

#languages.th {
    width: 20%;
} 

#languages.td {
    width: 20%;
} 
