body {
    background: #3A508E;
}

.error {
    color: red;
}

div.infobox {
    background: #fff;
    border: 1em solid #FFF200;
    margin: .75em;
    padding: 1em;
    width: 50%;
    position: relative;
    left: 25%;
}
