@import url('/site_media/css/base.css');

div.infobox ul {
    padding: 1ex;
    margin: 1ex;
}

div.infobox ul li {
    list-style-type: none;
    margin-bottom: .4em;
}

/*
span.edit {
    background: #D3D3D3; 
    border: 1px solid #000;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 0.5em;
}
*/
