@import url('/site_media/css/profile.css');

div#suggestions {
    border: 1px solid #000;
    width: 50%;
    z-index: 9999;
    background: #fff;
    padding: 0px 0px 0px -10px;
    opacity: 0.85;
    filter: alpha(opacity=85); /* stupid IE */
    position: absolute;
    left: 85px;
    display: block;
}

div#suggestions > ul {
    padding: 0px 0px 0px 0px;
}

div#suggestions > ul > li {
    padding: 0px 0px 0px 0px;
}

span#results {
    font-size: small;
    color: gray;
    position: relative;
    left: 75%;
    padding: 0px 0px 0px 0px;
}

div#busytimes {
    border: 1px solid #000;
    margin: 2ex;
    padding: 1ex;
    width: 60%;
    background-color: white;
}
