@import url('/site_media/css/profile.css');

#frontmatter {
    background: #fff;
    border: 2px solid #000;
    margin: 1ex;
    padding: 1ex;
    position: relative;
    top: -120px;
}

table {
    width: 100%;
    border: none;
}

td {border:none;}
th {border:none;}
tr {border:none;}

table li {
    list-style-type: none;
}

th {
    width: 33%;
}
