<div>
    <p>Please add any additional contact phone numbers we may use.</p>
</div>

<div>
    <form id="add_phone" action="/accounts/add/phone/" method="post">
            {{form.as_p}}
        <input type="submit" name="add" value="Save"/>
        <input type="submit" value="Cancel" onClick="closeForm('phone')"/>
    </form>
</div>

