<div>
    <p>What languages do you speak? For each language (including English), indicate when you approximately started speaking it, when you stopped (leave blank if you still speak it), and your proficiency.</p><p>If a language you speak is not in the drop-down list, please <a href="{%url resources.views.lab_contacts %}">contact us</a> so it can be added. Classical languages (e.g. Latin, Attic or Koine Greek) and ConLangs (e.g. Klingon) are not of interest for these purposes.</p><p>If you are a native English speaker, but did not begin learning English within the United States and/or did not learn the majority of your English within the United States, please indicate where you were educated.</p><p>For any first languages, please use your date of birth for the start date.</p>
</div>

<form id="add_lang" action="{%url accounts.views.add_object obj %}" method="post">
    <table rules="all" cellpadding="3" cellspacing="3" style="margin:0 auto;">
    {{form}}
    </table>
    <input type="submit" name="add" value="Add"/><input type="submit" name="add" value="Cancel" onClick="closeForm('lang')" />
</form>
