<div>
    <p>Please add any additional email addresses we may use.</p>
</div>

<div>
    <form id="add_email" action="/accounts/add/email/" method="post">
        <ul>
            {{form.as_ul}}
        </ul>
        <input type="submit" name="add" value="Save"/>
        <input type="submit" name="add" value="Cancel" onClick="closeForm('email')"/>
    </form>
</div>

