    <span class="infotype">Contact Phone Numbers</span> <a href="javascript:loadPhoneForm()"><img src="/media/img/admin/icon_addlink.gif"/>Add</a><div id="insert_phone"></div>
    <ul id="prephone">
        {% for phone in phones %}
        <li>{{phone.phone}} ({{phone.type}}) <a class="del" href="{% url accounts.views.del_object phone.shortclass,phone.id %}"><img src="/media/img/admin/icon_deletelink.gif" /> Delete</a></li>
        {% endfor %}
    </ul>

    <span class="infotype">Contact Email Adresses</span> <a href="javascript:loadEmailForm()">Add<img src="/media/img/admin/icon_addlink.gif" /></a><div id="insert_email"></div>
    <ul id="preemail">
        {% for email in emails %}
        <li>{{user.get_full_name}} &lt;{{email.email}}&gt; <a class="del" href="{% url accounts.views.del_object email.shortclass,email.id %}"><img src="/media/img/admin/icon_deletelink.gif" /> Delete</a> </li>
        {% endfor %}
    </ul>
