{% extends "base.html" %}

{% block title %}Create an account{% endblock title %}

{% block content %}

{% include "nav.html" %}

<div id="frontmatter">
    <h2>Create an account</h2>
    <p>Please provide some information so we can create your account.</p>
</div>

<div class="infobox" id="survey">
    <form action="{%url accounts.views.new_user %}" method="post">
        <table rules="all">
            {{form}}
        </table>
        <input type="submit" name="add" value="Save"/>
    </form>
</div>

{% endblock content %}
