<div id="languages">
    <a href="javascript:loadLangForm()" ><img src="/media/img/admin/icon_addlink.gif" />Add</a><div id="insert_lang"></div>
{% if languages %}
    <ul id="prelang">
    {% for language in languages %}
    <li>{{language.lang}} - Started: {{language.started|date:"F Y"}}, {% if language.stopped %}Stopped: {{language.stopped|date:"F Y"}}, {% endif %} Proficiency: {{language.get_proficient_display}} <a class="del" href="{%url accounts.views.del_object language.shortclass,language.id %}"><img src="/media/img/admin/icon_deletelink.gif" />Delete</a></li>
    {% endfor %}
    </ul>
{% endif %}
</div>
