{% extends "base.html" %}

{% block content %}
<div style="text-align:center;">
{% if form.has_errors or errors %}
<p class="error">Your email and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{%url 'accounts.views.login' %}">
    <table cellpadding="3" cellspacing="3" style="margin:0 auto;">
        {{form}}
        <tr><td><input type="submit" value="login" /></td><td><input type="submit" value="cancel"/></td></tr>
    </table>
    <input type="hidden" name="next" value="{{next}}" />
</form>
</div>

{% endblock %}
