{% extends "base.html" %}
{% block title %}Scheduler Logout{% endblock title %}
{% block media %}
<link rel="stylesheet" type="text/css" href="/site_media/css/login.css" />
{% endblock media %} 

{% block content %}
<h1>Logged out</h1>
<div class="infobox" id="logout">
<p>Thanks for using the lab scheduler.</p>
<p><a href="{%url accounts.views.login %}">login again</a></p>
</div>
{% endblock content %}
