{% extends "ajaxbase.html" %}

{% block content %}
<div style="text-align:center;" id="changepw">
    <form method="post" action="{%url accounts.views.pwchange %}">
    <table cellpadding="3" cellspacing="3" style="margin:0 auto;">{{form}}</table>
    <input type="submit" name="change" value="Change Password"/>
    <input type="submit" name="change" value="Cancel" onclick="tb_remove()"/>
</form>
</div>
{% endblock content %}
