        <li>DOB: {{dob|date:"j. F Y"}}</li>
        <li>Gender: {{gender}}</li>
        <li>Ethnicity: {{hisp|yesno:"Hispanic or Latino,Not Hispanic or Latino,NA"}}</li>
        <li>Race:
            <ul>
                <li>American Indian / Alaska Native: {{race.amerind|yesno:"Yes,No"}}</li>
                <li>Black or African-American: {{race.afram|yesno:"Yes,No"}}</li>
                <li>Native Hawiian or Other Pacific Islander: {{race.pacif|yesno:"Yes,No"}}</li>
                <li>Asian: {{race.asian|yesno:"Yes,No"}}</li>
                <li>White: {{race.white|yesno:"Yes,No"}}</li>
                <li>Unknown: {{race.unk|yesno:"Yes,No"}}</li>
                {% if race.other %}
                <li>Other: {{race.other}}</li>
                {% endif %}
            </ul>
        </li>
