{% extends "base.html" %}

{% block title %}User Profile{% endblock title %}
{% block media %}
    <link rel="stylesheet" type="text/css" href="/site_media/css/profile.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/survey.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/blitzer/jquery-ui.css" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" ></script>
    <script type="text/javascript" src="/site_media/js/jquery.form.js"></script>
    <script type="text/javascript" src="/site_media/js/profile-tools.js"></script>
{% endblock media %}
{% block content %}

{% include "nav.html" %}

<div id="breadcrumbs"><a href="{%url resources.views.index %}">Home</a> &raquo; <a href="{%url accounts.views.index %}">Accounts</a> &raquo; Profile</div>

<div id="tabs">
    <ul>
        <li><a href="#account">Account</a></li>
        <li><a href="#contact">Contact Information</a></li>
        <li><a href="#personal">Personal Information</a></li>
        <li><a href="#student">Student Status</a></li>
        <li><a href="#hearsee">Vision and Hearing</a></li>
        <li><a href="#languages">Languages</a></li>
        <li><a href="#studies">Studies</a></li>
    </ul>

<div id="account">
<ul>
    <li>Name: {{user.get_full_name}}</li>
    <li>Username: {{user.username}}</li>
    <li>Login email: {{user.email}} (This can only be changed by staff. Please contact us if it has changed.)</li>
</ul>
</div>

<div id="contact">
    {% include "accounts/contact.html" %}
</div>

<div id="personal">
    <a href="javascript:managePersonal()"><img src="/media/img/admin/icon_changelink.gif" />Edit</a>
    <ul>
        {% include "accounts/personal.html" %}
    </ul>
</div>

<div id="student">
    <a href="javascript:manageStudent()"><img src="/media/img/admin/icon_changelink.gif" />Edit</a>
    <ul>
        {% include "accounts/student_status.html" %}
    </ul>
</div>

<div id="hearsee">
    <a href="javascript:manageVisionHearing()"><img src="/media/img/admin/icon_changelink.gif" />Edit</a>
    <ul>
        {% include "accounts/visionhearing.html" %}
    </ul>
</div>

{% include "accounts/languages.html" %}

<div id="studies">
    <a href="javascript:manageStudies()"><img src="/media/img/admin/icon_changelink.gif" />Edit</a>
    <ul>
        {% include "accounts/studies.html" %}
    </ul>
</div>

</div> <!-- tabs -->

{% endblock content %}
