{% extends "base.html" %}

{% block title %}New Subject Survey{% endblock title %}

{% block content %}

{% include "nav.html" %}

<div id="frontmatter">
    <h2>Laboratory Participant Questionnaire</h2>
    <p>This is an optional questionnaire. Answering this questionnaire will not affect your participation in studies, nor will it affect your payment for participation in studies. You may answer some of these questions, all of these questions, or none of these questions. The questions are designed for one of three things:</p>
    <ol>
        <li>Provide us with information that will better help us conduct experiments and analyze the data from experiments.</li>
        <li>Provide us with information regarding participant demographics (age, race, sex, etc.) that is often requested by groups monitoring and/or funding our research. This information is requested by groups such as the National Science Foundation (NSF), the National Institute of Health (NIH), and the university's Research Review Board (RSRB) to ensure that human research studies accurately sample the population base of the region. This also helps to make certain that certain population subsets (minorities, females, etc.) are no longer wittingly or unwittingly underrepresented in scientific research data.</li>
        <li>Provide us with information on how to contact you regarding future experiments, if you wish to be contacted.</li>
    </ol>
    <p>If after you complete and submit this questionnaire you later decide that you wish to ammend or erase any information you supplied to us, please let us know, as you are always free to make changes to this info. Your name, telephone number, date of birth, and email address will never be supplied to any outside agencies or groups. Your name, telephone number, date of birth, and email address will only be provided to other experimenters in this laboratory and/or other labs within the Brain and Cognitive Sciences department if you wish us to do so, so that you may have opportunity to participate in more paid experiments</p>
</div>

<div class="infobox" id="account">
<h2>Account Information</h2>
<ul>
    <li>Name: {{user.get_full_name}}</li>
    <li>Username: {{user.username}}</li>
    <li>Login email: {{user.email}} (This can only be changed by staff. Please contact us if it has changed.)</li>
</ul>
</div>

<div class="infobox" id="survey">
    <h3>Fields with a * are required.</h3>
    <form action="{%url accounts.views.initial_survey %}" method="post">
    <dl>
    {% for field in form %}
        <dt>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</dt>
        <dd>{{ field }}</dd>
        {% if field.help_text %}<dd>{{ field.help_text }}</dd>{% endif %}
        {% if field.errors %}<dd class="myerrors">{{ field.errors }}</dd>{% endif %}
    {% endfor %}
    </dl>
    <input type="submit" value="Submit Survey"/>
    </form>
</div>
{% endblock content %}
