        <li>Vision: {{vision}}</li>
        {% if vision_other %}
        <li>Describe any vision problems: {{vision_other}}</li>
        {% endif %}
        <li>Hearing normal?: {{hearing|yesno:"Yes,No"}}</li>
        {% if hearing_other %}
        <li>Please describe any problems: {{hearing_other}}</li>
        {% endif %}
