{% extends "base.html" %}

{% block title %}New Subject Survey{% endblock title %}
{% block media %}
    <link rel="stylesheet" type="text/css" href="/site_media/css/survey.css" />
    <link rel="stylesheet" type="text/css" href="/site_media/css/profile.css" />
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/blitzer/jquery-ui.css" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/site_media/js/survey-tools.js"></script>
{% endblock media %}

{% block content %}
{% include "nav.html" %}

<div class="infobox" id="survey">
<p>Step {{ step }} of {{ step_count }}</p>
    <form action="." method="post">
        <table>
        {{ form }}
        </table>
        <input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
        {{ previous_fields|safe }}
        {% ifnotequal step step_count %}
        <input type="submit" value="Next >>">
        {% else %}
        <input type="submit" value="Finish">
        {% endifnotequal %}
    </form>
</div>
{% endblock %}

