{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title|escape }} | {% trans 'Lab scheduler admin' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Lab scheduler administration' %}</h1>
<a href="{% url resources.views.index %}">Click here to go back to the main site</a><br/>
{% endblock %}

{% block nav-global %}{% endblock %}
