{% extends "base.html" %}

{% block title %}Language Summary{% endblock title %}
{% block media %}
<link rel="stylesheet" type="text/css" href="/site_media/css/tabular.css" />
{% endblock media %}

{% block content %}

{% include "nav.html" %}

<div class="infobox" id="languages">
    <h2>Language Summary</h2>

    <p>There are {{total_users}} users who have filled out questionaires in the system.</p>
    <p>There are {{total_langs}} instances of languages.</p>

    <h3>Languages</h3>
    <table>
        {% for lang in lang_counts %}
        {% ifnotequal lang.count 0 %}
        <tr><td>{{ lang.lang }}</td><td>{{ lang.count }}</td></tr>
        {% endifnotequal %}
        {% endfor %}
    </table>
    
    <h3>Native Languages</h3>
    <table>
        {% for lang in native_counts %}
        {% ifnotequal lang.count 0 %}
        <tr><td>{{ lang.lang }}</td><td>{{ lang.count }}</td></tr>
        {% endifnotequal %}
        {% endfor %}
    </table>

    <h3>Near-native Languages</h3>
    <table>
        {% for lang in near_counts %}
        {% ifnotequal lang.count 0 %}
        <tr><td>{{ lang.lang }}</td><td>{{ lang.count }}</td></tr>
        {% endifnotequal %}
        {% endfor %}
    </table>

    <h3>Competent Languages</h3>
    <table>
        {% for lang in competent_counts %}
        {% ifnotequal lang.count 0 %}
        <tr><td>{{ lang.lang }}</td><td>{{ lang.count }}</td></tr>
        {% endifnotequal %}
        {% endfor %}
    </table>

    <h3>Novice Languages</h3>
    <table>
        {% for lang in novice_counts %}
        {% ifnotequal lang.count 0 %}
        <tr><td>{{ lang.lang }}</td><td>{{ lang.count }}</td></tr>
        {% endifnotequal %}
        {% endfor %}
    </table>

</div>

{% endblock content %}
