{% extends "base.html" %}

{% block title %}Do Not Schedule List{% endblock title %}

{% block media %}
<link rel="stylesheet" type="text/css" href="/site_media/css/tablesorter.css"/>
<script type="text/javascript" src="/site_media/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/site_media/js/dnslist.js"></script>
{% endblock media%}

{% block content %}

{% include "nav.html" %}

<div class="infobox" id="dns">
    <h2>Do Not Schedule</h2>
    Note: The Do Not Schedule list is on a per subject, per lab basis. Just because someone is DNS for one lab does not necessarily mean they are for all.
    <table id="dnslist" class="tablesorter">
        <thead>
            <tr><th>Lab</th><th>User</th><th>Notes</th></tr>
        </thead>
        <tbody>
            {% for d in dlist %}
            <tr><td>{{d.lab}}</td><td>{{d.user.get_full_name}} ({{d.user.email}})</td><td>{{d.notes}}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
