{% extends "base.html" %}

{% block title %}Willing Subjects{% endblock title %}

{% block content %}

{% include "nav.html" %}

<div id="breadcrumbs">
    <a href="{% url resources.views.index %}">Home</a> &raquo; Reports &raquo; Willing Subjects
</div>

<div class="infobox" id="subjects">
    <h2>Willing Subjects</h2>
    <table>
        {% for u in ulist %}
        <tr><td>{{forloop.counter}}.</td><td>{{u}}</td></tr>
        {% endfor %}
    </table>
    <hr/>
    <p>Future versions will have text and/or csv download options.</p>
    {% comment %}
    <a href="{% url reports.views.willing_subj_text %}">Text list of willing subjects</a>
    {% endcomment %}
</div>

{% endblock content %}
