{% extends "base.html" %}

{% block title %}Your Google Calendars{% endblock title %}

{% block content %}

{% include "nav.html" %}

<div class="infobox">
    In the box below you should see a list of all the Google Calendars you have read/write access to. The main purpose of this is for pseduo-users representing labs. Normal staff need not connect their Google Calendar to the system. To view experiments where you are scheduled as as subject, visit <a href="{% url calendaring.google.views.upcoming %}">this page</a>.
</div>

<div class="infobox">
    <h1>{{feed_title}}</h1>

    <ul>
        {% for cal in cal_dict %} 
        <li style="background-color: {{cal.color}};"><a href="{{cal.link}}">{{cal.title}}</a></li>
        {% endfor %}
    </ul>

    <p><a href="https://www.google.com/accounts/IssuedAuthSubTokens">Manage AuthSub tokens</a></p>
</div>

        
{% endblock content %}
