{% extends "base.html" %}

{% block title %}Upcoming events{% endblock title %}

{% block media %}
    <link rel="stylesheet" type="text/css" href="/site_media/css/tablesorter.css"/>
    <script type="application/javascript" src="/site_media/js/jquery.tablesorter.min.js"></script>
{% endblock media %}

{% block content %}

{% include "nav.html" %}

<div id="breadcrumbs"><a href="{%url resources.views.index %}">Home</a>  &raquo; Calendar</div>

<div class="infobox" id="events">
    <h2>Events</h2>
    {% if experiments %}
    <table class="tablesorter">
        <tr><th>Date</th><th>Start</th><th>End</th><th>Room</th><th>Purpose</th></tr>
        {% for e in experiments %}
        <tr><td>{{e.when.get.start_time|date}}</td><td>{{e.when.get.start_time|time:"H:i"}}</td><td>{{e.when.get.end_time|time:"H:i"}}</td><td>{{e.when.get.room_name}}</td><td>{{e.experiment.pub_name}}</td></tr>
        {% endfor %}
    </table>
    {% else %}
    Sorry, You don't have anything scheduled. Check out the <a href="{% url resources.views.experiment_options %}">experiments</a> page to schedule something.
    {% endif %}
</div>

{% endblock content %}
