{% extends "base.html" %}

{% block title %} Google Calendar Setup Page{% endblock title %}

{% block content %}

{% include "nav.html" %}

<div class="infobox">
    In order to get busy/free information for you, we need access to your Google Calendar. Please follow the link below to allow us to do so.<hr/>
    
    <a href="{{auth_sub_url}}">Login to your Google Account</a><br/><br/>

    If you ever change your mind, you can go to your Google account preferences to <a href="https://www.google.com/accounts/IssuedAuthSubTokens">revoke the token</a>.
</div>

        
{% endblock content %}
