{% extends "base.html" %}

{% block title %}Your Busy Times{% endblock title %}

{% block content %}

{% include "nav.html" %}

<div class="infobox">
    <h1>Busy Times</h1>
    Below are the times your calendars have you listed as Busy for the next two weeks, sorted by caledar.
    <ul>
        {% for b in busy %}
        <h2>{{b.title}}</h2>
        <ul>
            {% for t in b.busy_times %}
            <li>{{t.start|date:"D d M Y"}} {{t.start|time:"h:i a"}} &mdash; {% ifnotequal t.start|date t.stop|date %}{{t.stop|date:"D d M Y"}} {% endifnotequal %} {{t.stop|time:"h:i a"}}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>

</div>
        
{% endblock content %}
