{% extends "base.html" %}

{% load humanize %}

{% block title %}Experiment info{% endblock title %}
{% block media %}
<link rel="stylesheet" type="text/css" href="/site_media/css/profile.css" />
{% endblock media %}

{% block content %}

{% include "nav.html" %}

<div class="infobox" id="experiment">
    <h2>Experiment info</h2>
    <ul>
        <li>Name: {{experiment.name}}</li>
        <li>Lab: {{experiment.lab.name}}</li>
        {% for room in experiment.room.all %}
        <li>Room{{forloop.counter}}: {{room.get_long_name}}</li>
        {% endfor %}
        <li>Pay: ${{experiment.pay_amount|floatformat:2}}</li>
        <li>Days: {{experiment.days}}</li>
        <li>Currently running?: {{experiment.current|yesno:"Yes,No"}}</li>
        <li>Prereqs:
            {%if experiment.prereq_expts.all%}
            <ul>
            {% for pre in experiment.prereq_expts.all %}
                <li>{{pre.group_name}}:
                   {% for e in pre.experiments.all %}
                        {% if forloop.last %}
                        {{e.name}}
                        {% else %}
                        {{e.name}}, 
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
            </ul>
            {% else %}
            None
            {% endif %}
        </li>
        <li>Conflicts:
            {%if experiment.conflict_expts.all%}
            <ul>
            {% for con in experiment.conflict_expts.all %}
                <li>{{con.group_name}}:
                    {% for e in con.experiments.all %}
                        {% if forloop.last %}
                        {{e.name}}
                        {% else %}
                        {{e.name}}, 
                        {% endif %}
                    {% endfor %}
                </li>
            {% endfor %}
            </ul>
            {% else %}
            None
            {% endif %}
        </li>
    </ul>
</div>

{% endblock content %}
