{% extends "base.html" %}

{% load humanize %}

{% block title %}Subject info{% endblock title %}
{% block media %}
<link rel="stylesheet" type="text/css" href="/site_media/css/profile.css" />
{% endblock media %}

{% block content %}

{% include "nav.html" %}

<div class="infobox" id="subject">
    <h2>Subject info</h2>
    <ul>
        <li>Name: {{subject.real_name}}</li>
        <li>Over 18?: {{subject.over_18|yesno:"Yes,No"}}</li>
    </ul>
</div>

<div class="infobox" id="contact">
    <h2>Contact Information</h2>
    <ul>
        {% for phone in phones %}
            <li>Phone{{forloop.counter}}: {{phone.phone}} ({{phone.type}})</li>
        {% endfor %}
    </ul>
    <ul>
        {% for email in emails %}
            <li>Email{{forloop.counter}}: {{email.email}}</li>
        {% endfor %}
    </ul>
</div>

<div class="infobox" id="hearsee">
    <h2>Vision and Hearing</h2>
    <ul>
        <li>Vision: {{subject.vision}}</li>
        {% if subject.vision_other %}
        <li>Describe any vision problems: {{subject.vision_other}}</li>
        {% endif %}
    </ul>

    <ul>
        <li>Hearing normal?: {{subject.hearing_normal|yesno:"Yes,No"}}</li>
        {% if subject.hearing_other %}
        <li>Please describe any problems: {{subject.hearing_other}}</li>
        {% endif %}
    </ul>
</div>

<div class="infobox" id="languages">
    <h2>Languages</h2>
{% if languages %}
    <ul>
    {% for language in languages %}
        <li>{{language.lang}}, Started: {{language.started|date:"F Y"}}, {% if language.stopped %}Stopped: {{language.stopped|date:"F Y"}}, {% endif %} Proficiency: {{language.get_proficient_display}}</li>
    {% endfor %}
    </ul>
{% endif %}
</div>

<div class="infobox" id="completed">
    <h2>Completed Experiments</h2>
    <ul>
    {% for c in completed %}
        <li>{{c.experiment.name}}</li>
    {% endfor %}
    </ul>
</div>

{% endblock content %}
