{% load humanize %}
{% load schedfilter %}

<div id="available">
    <hr/>
    {% if available %}
    <p>Multiple experiments may be bundled to create hour long blocks. Please click on the name of an experiment to see available times and to schedule it.</p>
    <table rules="all" id="availtable" class="tablesorter">
        <thead>
            <tr><th>Name</th><th>Description</th><th>Days</th><th>Length</th><th>Lab</th><th>Room</th><th>Pay/Hour</th></tr>
        </thead>
        <tbody>
            {% for a in available %}
            <tr id="ex{{a.id}}"><td><a href="javascript:choose_expt({{a.id}});">{{ a.pub_name }}</a></td><td>{{a.desc}}</td><td>{{a.days}}</td><td>{{a.length}} minute{{a.length|pluralize}}</td><td>{{a.lab.name}}</td><td>{{a.lab.lab_room.get_long_name}}</td><td>${{a.lab.pay_per_hour|floatformat:2}}</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <form id="schedule_subject" action="{% url resources.views.schedule_an_experiment %}" method="post">
        <ul>
        {{form.as_ul}}
        </ul>
        <input type="submit" name="schedule" value="Schedule"/ disabled='disabled'>
    </form>
    {% else %}
    <p>Sorry, no experiments are available for you at the moment. Please check back soon.</p>
    {% endif %}
</div>

