{% load humanize %}
<div id="completed">
    <hr/>
    {% if completed %}
    <table class="tablesorter" id="comptable">
        <thead>
            <tr><th>Experiment</th><th>Date</th><th>Time</th><th>Lab</th></tr>
        </thead>
        <tbody>
        {% for c in completed %}
            <tr><td>{{c.experiment}}</td><td>{{c.when.get.start_time|naturalday:"j. F Y"}}</td><td>{{c.when.get.start_time|time:"h:ia"}}</td><td>{{c.experiment.lab.name}}</td></tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You don't seem to have completed any experiments. Why don't you see what's <a href="{%url resources.views.available_experiments %}">available</a>?
    {% endif %}
</div>
