{% extends "base.html" %}

{% block title %}Create a new experiment{% endblock title %}

{% block media %}
    <link rel="stylesheet" type="text/css" href="/site_media/css/base.css" />
    <script type='text/javascript'>
        $(document).ready(function(){$('tr:even').css('background-color', '#ddd');});
    </script>
{% endblock %}

{% block content %}

{% include "nav.html" %}

    <div class="infobox">
        <h1>Create a new experiment</h1>
        <form id="create_expt" action="{% url resources.views.create_new_experiment %}" method="post">
            <table>
                {{form.as_table}}
            </table>
            <input type="submit" name="create" value="Create"/>
        </form>
    </div>

{% endblock %}
