{% extends "base.html" %}

{% block title %}Scheduled Experiment{% endblock title %}
{% block media %}
<link rel="stylesheet" type="text/css" href="/site_media/css/profile.css" />
{% endblock media %}

{% block content %}

{% include "nav.html" %}

<div class="infobox" id="schedule">
    <h2>Scheduled Experiment</h2>
    <ul>
        <li>Experiment: {{experiment.experiment.pub_name}}</li>
        <li>Room: {{experiment.when.get.room_name}}</li>
        <li>Date: {{experiment.when.get.start_time|date}}</li>
        <li>Start Time: {{experiment.when.get.start_time|time:"h:i A"}}</li>
        <li>End Time: {{experiment.when.get.end_time|time:"h:i A"}}</li>
    </ul>
    {%if expt2 %}
    <h3>Automatically added:</h3>
    <ul>
        <li>Experiment: {{expt2.experiment.pub_name}}</li>
        <li>Room: {{expt2.when.get.room_name}}</li>
        <li>Date: {{expt2.when.get.start_time|date}}</li>
        <li>Start Time: {{expt2.when.get.start_time|time:"h:i A"}}</li>
        <li>End Time: {{expt2.when.get.end_time|time:"h:i A"}}</li>
    </ul>
    {% endif %}
</div>

{% endblock content %}
