{% extends "base.html" %}

{% block title %}Experiment Management{% endblock title %}
{% block media %}
    <link rel="stylesheet" type="text/css" href="/site_media/css/experiments.css"/>
    <link rel="stylesheet" type="text/css" href="/site_media/css/tablesorter.css"/>
    <script type="application/javascript" src="/site_media/js/jquery.tablesorter.min.js"></script>
    <script type="application/javascript" src="/site_media/js/jquery.form.js"></script>
    <script type="application/javascript" src="/site_media/js/sched-tools.js"></script>
    <script type="application/javascript" src="/site_media/js/exptutils.js"></script>
{% endblock media%}

{% block content %}

{% include "nav.html" %}

<div id="breadcrumbs"><a href="{%url resources.views.index %}">Scheduler Home</a> &raquo; Experiment Management</div>

<div class="infobox" id="experiments">
    <h1>Experiment management</h1>
    <h2>Available</h2>
    {{available}} experiment{{available|pluralize}} available {% if available %}<img id="available_img" src="/media/img/admin/icon_addlink.gif">{% else %} that you currently qualify for.{% endif %}

    <h2>Scheduled</h2>
    {{scheduled}} experiment{{scheduled|pluralize}} scheduled {% if scheduled %}<img id="scheduled_img" src="/media/img/admin/icon_addlink.gif">{% endif %}

    <h2>Completed</h2>
    {{completed}} experiment{{completed|pluralize}} completed {% if completed %}<img id="completed_img" src="/media/img/admin/icon_addlink.gif" >{% endif %}
</div>

{% endblock content %}
