{% extends "base.html" %}

{% load humanize %}
{% load schedfilter %}

{% block title %}{{experiment.pub_name}} details{% endblock title %}
{% block media %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/blitzer/jquery-ui.css" type="text/css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="/site_media/css/tabular.css"/>
    <script type="text/javascript" src="/site_media/js/sched-tools.js"></script>
{% endblock media %}

{% block content %}

{% include "nav.html" %}

<div class="infobox" id="experiment">
    <h2>{{experiment.pub_name}} details</h2>
    <table>
        <tr><th>Description</th><th>Lab</th><th>Length</th><th>Days</th><th>Room{{experiment.room.all|pluralize}}</th></tr>
        <tr>
            <td>{{experiment.desc}}</td>
            <td><a href="{%url resources.views.lab_contacts %}#{{experiment.lab.name|slugify}}">{{experiment.lab.name}}</a></td>
            <td>{{experiment.length}} min{{experiment.length|pluralize}}</td>
            <td>{{experiment.days}}</td>
        
            <td colspan="2">
            {% for room in experiment.room.all %}
                {{room.get_long_name}}{% if not forloop.last %},{% endif %}
            {% endfor %}
            </td>
        </tr>
    </table>
</div>

{% if schedule %}
<div class="infobox" id="schedule">
    <h2>Busy times by room</h2>
    <h3>{% if yesterday %}<a href="{%url resources.views.view_experiment id=experiment.id %}{{yesterday}}/">&laquo;</a>{% endif %} {{day|date:"l, d. F Y"}} {% if tomorrow %} <a href="{%url resources.views.view_experiment experiment.id %}{{tomorrow}}/">&raquo;</a>{% endif %}</h3>
    {% if weekend %}Even if no busy times are listed for a weekend day, please keep in mind that we do not normally schedule subjects for the weekend. Only schedule a weekend appointment if you have arranged it in advance with the experimenter.<br/>{% endif %}
    <img id="cal" src="/media/img/admin/icon_calendar.gif"/><form id="calform" action="/schedule/experiments/available/{{experiment.id}}/"><input id="calday" name="day" type="hidden"><input type="submit" value="Go"></form>
    <ul>
        {% for r in roomtimes %}
        <h2>{{r.title}}</h2>
        <ul>
            {% for t in r.busy_times %}
            <li>From {{t.start|date:"D d M Y"}} at {{t.start|time:"h:i a"}} to {{t.stop|date:"D d M Y"}} at {{t.stop|time:"h:i a"}}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </ul>

</div>
{% endif %}


{% endblock content %}
