{% extends "base.html" %}

{% block title %}Scheduler homepage{% endblock title %}
{% block media %}
<link rel="stylesheet" type="text/css" href="/site_media/css/profile.css" />
{% endblock media %}

{% block content %}

{% include "nav.html" %}

<div id="breadcrumbs"><a href="{%url 'resources.views.index' %}">Home</a> &raquo; Scheduler Home</div>

{% if user.is_authenticated %}
    <div class="infobox" id="survey">
        <h1>Welcome to the experiment scheduling system</h1>
    {% if has_survey %}
        <h2>Survey</h2>
        <a href="{%url 'accounts.views.profile' %}">View your lab survey answers.</a>
        <h2>Experiments</h2>
        <a href="{%url 'resources.views.experiment_options' %}">Manage your experiments.</a>
    {% else %}
        <h2>You haven't filled out a survey yet.</h2>
        <p>Please take the time to <a href="{% url 'accounts.views.initial_survey' %}">fill out a survey</a>.</p>
    {% endif %}
    {% if user.is_staff %}
        <h2>Staff Pages</h2>
        <ul>
            <li><a href="{% url 'resources.views.create_new_experiment' %}">Create a new experiment</a></li>
            <li><a href="{% url 'resources.views.view_responsible' %}">Experiments you are responsible for</a></li>
            <li><a href="{% url 'resources.views.staff_schedule_subject' %}">Schedule a subject manually</a></li>
            <li><a href="{% url 'resources.views.view_unmarked_complete' %}">Incomplete Experiments</a></li>
            <li><a href="{% url 'reports.views.willing_subjects' %}">Subjects willing to participate in experiments</a></li>
            <li><a href="{% url 'reports.views.dns_list' %}">Do Not Schedule List</a></li>
        </ul>
    </div>
    {% endif %}
{% else %}
    <div class="infobox" id="anonymous">
        <p>Thank you for visiting the experiment scheduling system. If you already have an account, please <a href="{% url 'accounts.views.login' %}">login</a> to find out what experiments are available to participate in. If you don't have an account, please <a href="{% url 'accounts.views.new_user' %}">create an account</a> now.</p>
        <p>To aid in scheduling experiments and for demographic purposes we do collect some personal information, which will only be shared with experimenters in this lab and/or other labs in this department, never with any third parties. If you are uncomfortable providing this information but would like to participate in experiments, please contact the lab manager for the lab whose exeriments you would like to participate in. See the <a href="{%url 'resources.views.lab_contacts' %}">lab contact info</a> for how to contact us.</p>
    </div>
{% endif %}
{% endblock content %}
