{% extends "base.html" %}

{% load schedfilter %}

{% block title %}Laboratory Contact Information{% endblock title %}
{% block media %}
<link rel="stylesheet" type="text/css" href="/site_media/css/profile.css" />
{% endblock media %}

{% block content %}

{% include "nav.html" %}

    <div id="breadcrumbs"><a href="{%url resources.views.index %}">Home</a> &raquo; Lab Contact Info</div>

    <div class="infobox" id="{{l.name|slugify}}">
    <h1>Laboratory Contact Information</h1>
{% for l in labs %}
    <a name="#{{l.name|slugify}}"> <h2>{{l.name}}</h2></a>
        <ul>
            <li>Principal Investegator: {{l.lab_owner.get_full_name}}</li>
            <li>PI email: {% if user.is_authenticated %}<a href="mailto:{{l.lab_owner.email}}">{{l.lab_owner.email}}</a>{% else %}{{l.lab_owner.email|obfuscate}}{% endif %}</li>
            <li>PI Phone: {{l.lab_owner_phone}}</li>
            <hr/>
            <li>Laboratory Manager: {{l.lab_manager.get_full_name}}</li>
            <li>Lab manager email: {% if user.is_authenticated %} <a href="mailto:{{l.lab_manager.email}}">{{l.lab_manager.email}}</a>{%else%}{{l.lab_manager.email|obfuscate}}{%endif%}</li>
            <li>Lab manager Phone: {{l.lab_manager_phone}}</li>
            <hr/>
            <li>Location: {{l.lab_room.get_long_name}}</li>
            <li>Lab Phone: {{l.lab_phone}}</li>
        </ul>
{% endfor %}
    </div>

{% endblock content %}
