{% extends "base.html" %}

{% block title %}Thanks for your request{% endblock title %}
{% block media %}
<link rel="stylesheet" type="text/css" href="/site_media/css/profile.css" />
{% endblock media %}

{% block content %}

{% include "nav.html" %}
 
<div class="infobox" id="received">
    <h2>Request received</h2>
    <p>Thank you for your request to participate in the study "{{experiment}}". It will remain in your list of available experiments until a member of the lab staff has a chance to schedule you. Please keep this in mind when checking for other experiments, and please do not request it a second time. Someone will contact you about your availability soon. Thanks again.</p>
</div>

<a href="{%url resources.views.experiment_options %}">Return to the Experiments page</a>
  
{% endblock content %}
