{% extends "base.html" %}

{% load humanize %}

{% block title %}Experiments to schedule{% endblock title %}
{% block media %}
<link rel="stylesheet" type="text/css" href="/site_media/css/tablesorter.css"/>
<script type="text/javascript" src="/site_media/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/site_media/js/resptab.js"></script>
{% endblock media %}

{% block content %}

{% include "nav.html" %}

<div id="breadcrumbs"><a href="{%url resources.views.index %}">Home</a> &raquo; <a href="{%url resources.views.experiment_options %}">Experiments</a> &raquo; Responsible</div>

<div class="infobox" id="responsible">
    <h2>Experiments you are responsible for</h2>
    {% if resp %}
        <table class="tablesorter">
            <thead>
                <tr><th>Lab</th><th>Room</th><th>Experiment</th><th>Subject</th><th>Date</th><th>Start Time</th><th>End Time</th><th>Public Notes</th><th>Private Notes</th></tr>
            </thead>
            <tbody>
        {% for r in resp %}
        <tr>
            <td>{{r.experiment.lab.name}}</td>
            <td>{{r.room}}</td>
            <td><a href="{% url resources.views.view_experiment r.experiment.id %}">{{r.experiment}}</a></td>
            <td><a href="{% url resources.views.view_subject r.subject %}">{{r.subject}}</a></td>
            <td>{{r.sched_date|naturalday:"j. M Y"}}</td>
            <td>{{r.start_time|time:"h:ia"}}</td>
            <td>{{r.end_time|time:"h:ia"}}</td>
            <td>{{r.public_notes}}</td>
            <td>{{r.private_notes}}</td>
        </tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>You don't seem to be responsible for any experiments.</p> 
    {% endif %}
</div>

{% endblock content %}
