{% load humanize %}
<div id="scheduled">
    <hr/>
    <p>All pay is prorated in half hour increments.</p>
    {% if scheduled %}
        <table class="tablesorter" id="schedtable">
            <thead>
                <tr><th>Experiment</th> <th>Date</th> <th>Time</th> <th>Length</th> <th>Days</th><th>Pay</th><th>Lab</th><th>Room</th><th>Notes</th></tr>
            </thead>
            <tbody>
        {% for s in scheduled %}
        <tr><td>{{ s.experiment }}</td> <td>{{s.when.get.start_time|naturalday}}</td> <td>{{s.when.get.start_time|time:"h:i a"}}</td> <td>{{s.experiment.length}} minute{{s.experiment.length|pluralize}}</td> <td>{{s.experiment.days}}</td><td>${{s.experiment.lab.pay_per_hour|floatformat:2}}/hr</td><td>{{s.experiment.lab.name}}</td><td>{{s.when.get.room_name}}</td><td>{{s.public_notes}}</td><td><a href="{% url resources.views.cancel_an_experiment s.id %}">Cancel</a></td></tr>
        {% endfor %}
            </tbody>
        </table>
    {% else %}
    <p>Sorry, you don't have any scheduled experiments right now. Why don't you see what's <a href="{%url resources.views.available_experiments %}">available</a>?
    {% endif %}
</div>
