{% extends "base.html" %}

{% block title %}Manually Schedule a Subject{% endblock title %}

{% block media %}
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/blitzer/jquery-ui.css" type="text/css"/>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" ></script>
    {{form.media}}
{% endblock media %}

{% block content %}

{% include "nav.html" %}

    <div class="infobox">
        <form id="schedule_subject" action="{% url resources.views.staff_schedule_subject %}" method="post">
            <ul>
                {{form.as_ul}}
            </ul>
            <input type="submit" name="schedule" value="Schedule"/>
        </form>
        <br/>
        <hr/>
        <!--
            This is here for mockup purposes only. We need to actually generate
            an embed thing like it appropriately for each lab as required. Or
            better yet, when the room is selected from the list, pull just that
            room's calendar from google.
        <iframe src="//www.google.com/calendar/embed?showPrint=0&amp;showTabs=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=hlplab%40gmail.com&amp;color=%23A32929&amp;src=1e35m0krr2v4497l2gi8h9kpkg%40group.calendar.google.com&amp;color=%232952A3&amp;src=sgkp5iemm6o04qd64rnjohmot8%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
        -->
    </div>

{% endblock %}
