{% extends "base.html" %}

{% load humanize %}

{% block title %}Incomplete Experiments{% endblock title %}
{% block media %}
<link rel="stylesheet" type="text/css" href="/site_media/css/tablesorter.css"/>
<script type="text/javascript" src="/site_media/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="/site_media/js/addts.js"></script>
{% endblock media %}

{% block content %}

{% include "nav.html" %}

<div id="breadcrumbs"><a href="{% url resources.views.index %}">Scheduler Home</a> &raquo; <a href="{% url resources.views.experiment_options %}">Experiment Management</a> &raquo; Incomplete Experiments</div>


<div class="infobox" id="uncomplete">
<h2>Experiments not marked as completed</h2>
    <table class="tablesorter">
        <thead>
            <tr><th>Experiment</th><th>Subject</th><th>Date</th><th>Time</th></tr>
        </thead>
        <tbody>
        {% for u in uncomplete %}
            <tr>
                <td>{{ u.experiment }}</td>
                <td>{{u.subject.get_full_name}} &lt;{{u.subject.email}}&gt;</td>
                <td>{{u.start_time|naturalday}}</td>
                <td>{{u.start_time|time:"h:i a"}}</td>
                <td><a href="{% url resources.views.mark_completed u.id %}">Mark Completed</a></td>
                <td><a href="{% url resources.views.cancel_an_experiment u.id %}">Cancel</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
