<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

    <head>
        <title>{% block title %} {% endblock title %}</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
	<meta http-equiv="content-language" content="en"/>
	<meta name="author" content="Andrew Watts"/>
    <meta name="copyright" content="2007-2013 University of Rochester - Brain and Cognitive Sciences"/>
    <meta name="robots" content="NONE,NOARCHIVE" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" ></script>
    <script type-"text/javascript" src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
    {% block media %}
    <link rel="stylesheet" type="text/css" href="/site_media/css/base.css" />
    {% endblock media %}
    </head>

    <body>
        <div id="content">
            {% block content %} {% endblock content %}
        </div>
    </body>
</html>
