<div id="header">
{% if user.is_authenticated %}
<p>Hello {{user.get_full_name}}! [<a href="{%url accounts.views.logout %}">logout</a>] [<a href="{%url accounts.views.pwchange%}">change password</a>]</p>
{% else %}
<p>Hello Anonymous! [<a href="{%url accounts.views.login %}">login</a>]</p>
{% endif %}
</div>
