<div class="navbox" id="nav">
    {% if user.is_authenticated %}
    <ul>
        <li><span id="name">Hello, {{user.get_full_name}}!</span></li>
        <li><a href="{%url accounts.views.logout %}">Logout</a></li>
        <li><a href="{%url accounts.views.pwchange %}">Change password</a></li>
        {% if user.is_staff %}
        <li><a href="/admin/">Admin Site</a></li>
        {% endif %}
    </ul>
    <ul>
        <li><a href="{%url resources.views.index %}">Scheduler Home</a></li>
        <li><a href="{%url accounts.views.index %}">Account management</a></li>
        <li><a href="{%url resources.views.experiment_options %}">Experiments</a></li>
        <li><a href="{%url calendaring.views.index %}">Calendar</a></li>
        <li><a href="{%url resources.views.lab_contacts %}">Lab Contact Info</a></li>
    </ul>
    {% else %}
    <ul>
        <li><span id="name">Hello, Anonymous!</span></li>
        <li><a href="{%url accounts.views.login %}">Login</a></li>
        <li><a href="{%url accounts.views.new_user%}">Create Account</a></li>
        <li><a href="{%url resources.views.lab_contacts %}">Lab Contact Info</a></li>
    </ul>
    {% endif %}
</div>
